.form-container {
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-top:20px ;
    padding-bottom:20px;
    padding-right: 5px;
    color: white !important;
    box-sizing: border-box;
}

.form-card {
    background-color: #1d4f91 !important;
    width:100%;
    color: inherit;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #003366 !important;
    box-sizing: border-box;
}

.form-page {
    width: 100%;
    max-width: 100%;
}

.question-label {
    display: block;
    font-size: 1rem;
    color: white !important;
    margin-bottom: 5px !important;
    font-weight: 400 !important;
}

 
.error-message {
    color: #f74f4f ;
    font-size: 12px;
    display: none; 
    margin-top: 4px;
}   

.highlight {
    border-color:#f74f4f !important ;
    background-color:#4A72A7 !important;
} 
.highlight-feedback {
    border: 2px solid #f74f4f!important;
} 
.dab{
    width: 100%;
    padding: 5px 10px;
    background-color: #4A72A7 !important;
    border: none;
    color:white;
    border-radius: 5px;
    border-bottom: 2px solid white;
    /* color: white; */
    font-size: 14px;
    transition: border-bottom 0.3s ease;
}
.clearSign{
    cursor:pointer;
    color:white;
}

canvas {
    height:7rem;
    width: 100%;
    padding: 5px 0;
    background-color: #4A72A7 !important; 
    border: none !important;
    border-bottom: 2px solid white !important;
    /* color: white; */
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
} 

.submit-btn{
    padding: 10px 20px;
    background-color: #4A72A7 !important;
    color: inherit;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-row {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}


.h4, h4 {
    font-size: calc(1.275rem + .3vw);
}

input::placeholder {
    color:white !important;        /* Change the placeholder text color */
    font-style: normal !important; /* Add italic style to the placeholder */
    font-size: 14px;    /* Adjust the font size of the placeholder */
    opacity: 1;         /* Ensure the placeholder is fully visible */
}
 
input {
    width: 100%;
    padding: 5px 0;
    background-color: #4A72A7 !important;
    border: none;
    border-bottom: 2px solid white !important;
    color:inherit;
    font-size: 14px;
    transition: border-bottom 0.3s ease;
} 
/* input {
    width: 100%;
    padding: 5px 0;
    background-color: #4A72A7 !important;
    border: none;
    border-bottom: 2px solid white !important;

    font-size: 14px;
    transition: border-bottom 0.3s ease;
} */

input:focus {
    border-bottom: 2px solid #66b2ff !important;
    box-shadow: none !important;
    outline: none;
}

input::placeholder {
    color: #cccccc;
    font-style: italic;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Invert the color of the calendar icon to make it white */
}
.error-message {
    color: #f74f4f ;
    font-size: 12px;
    display: none; /* Initially hidden */
    margin-top: 4px;
}
.form-control{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    background-color: #4A72A7 !important;
    border-bottom: 2px solid white;
    color: white !important;
}



input:focus {
    border-bottom: 2px solid #66b2ff !important;
    box-shadow: none !important;
    outline: none;
}

input::placeholder {
    color: #cccccc;
    font-style: italic;
}

.txtfeild{
    background-color:#4A72A7 !important;
}

.warning-icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: #F39200; /* Exact orange color */
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: relative;
    text-align: center;
    color:  #1d4f91;;
    font-weight: bold;
    font-size: 32px;
    line-height: 50px;
}

.warning-icon span {
    font-weight:400 !important;
    font-size: 42px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 10%);
}
.icon-container {
    width: 80px;
    height: 80px;
    background-color: #28a745;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
.invalid-modal {
    /* display: none; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: white; */
    border-radius: 8px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    z-index: 1001;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.invalid-modal-content {
    background-color: #1d4f91;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-heading {
    flex:3;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: 0;
}

.close-mrk {
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.modal-checkmark {
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.modal-message {
    font-size: 16px;
    color: white;
    margin: 20px 0;
}

/* .colse-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
} */

.colse-btn:hover {
    background-color: #003d7a;
}

.invalid-drug-test {
    /* display: none; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: white; */
    border-radius: 8px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    z-index: 1001;
    width: 66%;
    /* max-width: 400px; */
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.invalid-drug-test-modal-content {
    background-color: #1d4f91;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    /* width: 400px; */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.form-check-input[type=radio] {
    border-radius: 50%;
    width: 1.1rem !important;
    height: 1.1rem !important;
    border: var(--bs-border-width) solid var(--bs-border-color) ;
    background-color: #4A72A7 !important;

}

.form-check-input:checked[type=radio] {
    --bs-form-check-bg-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e") !important;
    background-color: #007BFF !important;
    border-color: #4A72A7 !important;
}

.success-modal {
    /* display: none; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: white; */
    border-radius: 8px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    z-index: 1001;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.success-modal-content {
    background-color: #1d4f91;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: #28a745;
    color: white;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    opacity: 0;
}

.checkmark.visible {
    opacity: 1;
}

.checkmark::before {
    content: '\2713';
    font-size: 16px;
    color: white;
}